
  <nav class="navbar px-3">
        <a class="nav-link" href="#home">回到首頁</a>
    <ul class="nav nav-pills" id="navbar-example2">
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="#portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="30" class="scrollspy-example p-3" tabindex="0">
    <h4 id="home">首頁</h4>
  <p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </p>
    <h4 id="about">About</h4>
  <p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </p>
    <h4 id="portfolio">Portfolio</h4>
  <p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </p>
    <h4 id="contact">Contact</h4>
  <p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </p>
  </div>

  