.nav-link{
  padding: 10px 20px;
  margin: 5px;
  background: #ccc;
  border-radius: 6px;
  color: black;
      }
.nav-link:hover {
  background: gray;
  color: #fff;
  cursor: pointer;
}
.nav-item .active {
  background: #434343;
  color: #fff;
}
.bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -0.75rem 0;
    border: solid #dee2e6;
    border-width: 1px 0 0;
}
.bd-example>:last-child {
    margin-bottom: 0;
}
.scrollspy-example {
    position: relative;
    height: 50vh;
    margin-top: 0.5rem;
    overflow: auto;
  
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  /* background: #ccc; */
  border-radius: 6px;
  color: white;
}

@media (min-width: 576px){
.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}}

::-webkit-scrollbar {
  /*隱藏滾輪*/
  display: none;
  }